section.footer__informacion
    ul.informacion__titulo01 Empresa
        li.titulo01__quienessomos Quienes Somos
        li.titulo01__historia Historia

    ul.informacion__titulo02 Comunidad
        li.titulo02__eventos Eventos
        li.titulo02__blog Blog
        li.titulo02__foros Foros

    ul.informacion__titulo03 Contactar
        li.titulo03__formulario Formulario
        li.titulo03__telefono +34 666 666 66 66 

    ul.informacion__titulo04 Redes
        li.titulo04__facebook Facebook
        li.titulo04__twitter twitter  
        li.titulo04__instagram Instagram      

section.footer__formulario
    form.formulario__email(action="#")
        input(name="email" type="email" placeholder="tu email" label="") 
    button.formulario__boton(type="submit") Noticias
