
main.sectionSuperior
    h2.sectionSuperior__titulo Nueva Cámara, con Nueva Lente
    p.sectionSuperior__parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ea nobis cupiditate quia quo minus nesciunt quisquam qui voluptatum nisi non illo unde, facilis quasi? Quisquam perspiciatis placeat, at possimus consequuntur voluptate adipisci sequi maiores itaque cupiditate vero a quaerat.
    a.sectionSuperior__boton(href="#") Leer más
    picture.sectionSuperior__producto01
        img.producto01__imagen(src="assets/img/desktop/camara 1.jpg" , alt="camara de fotos")

main.sectionCentro
    h4.sectionCentro__titulo1 Opción 1
    p.sectionCentro__parrafo1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
    h4.sectionCentro__titulo2 Opción 2
    p.sectionCentro__parrafo2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
    h4.sectionCentro__titulo3 Opción 3
    p.sectionCentro__parrafo3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
    h4.sectionCentro__titulo4 Opción 4
    p.sectionCentro__parrafo4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
    picture.sectioncentro__producto02
        img.producto02__imagen(src="assets/img/desktop/camara 2.jpg", alt="camara de fotos vista superior")

main.sectionInferior
    picture.sectionInferior__producto03
        img.producto03__imagen(src="assets/img/desktop/camara 3.jpg", alt="objetivo")
    p.sectionInferior__parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime quis sunt expedita reprehenderit ad molestias quasi in quisquam harum distinctio dolorum fugit deserunt soluta, porro iusto enim rerum facere veniam earum unde? Temporibus obcaecati culpa non? Dolorum sapiente, tempore deserunt cum a maxime autem nam sunt nesciunt labore doloremque debitis sint unde? Voluptatem corporis laborum non laboriosam inventore, recusandae excepturi repellendus aliquam magnam reiciendis libero exercitationem omnis tempore laudantium quibusdam blanditiis dolorem dolorum perferendis culpa, fuga dignissimos vel similique. A explicabo cumque ratione, voluptatem quo beatae quia ipsum aspernatur eius, eligendi nisi voluptas totam provident incidunt rerum. Dolorem temporibus enim nulla inventore nostrum quasi sequi, amet delectus eius cupiditate excepturi cum! Aliquid consectetur voluptates corrupti autem natus veritatis, nemo voluptatibus voluptatum itaque minima corporis earum officiis incidunt provident odit ipsam sit iure pariatur architecto dolorem ad quo perferendis similique unde? Mollitia necessitatibus officiis vero unde rem! Ipsam ex suscipit corporis veniam totam, enim nam! Animi, accusantium, et provident voluptatibus exercitationem reiciendis, possimus vel doloribus sequi porro maiores saepe placeat molestiae ex culpa non quod totam fugiat laboriosam facere repellendus officiis rerum cum illum. Recusandae, corporis ad. Cum ad temporibus cumque ab, commodi a exercitationem impedit sunt facilis non molestias!

