//- h4.sectionCentro__titulo1 Opci贸n 1
//- p.sectionCentro__parrafo1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
//- h4.sectionCentro__titulo2 Opci贸n 2
//- p.sectionCentro__parrafo2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
//- h4.sectionCentro__titulo3 Opci贸n 3
//- p.sectionCentro__parrafo3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
//- h4.sectionCentro__titulo4 Opci贸n 4
//- p.sectionCentro__parrafo4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet necessitatibus illum nesciunt hic reprehenderit? Voluptates eligendi beatae ea saepe?
//- picture.sectioncentro__producto02
//-     img.producto02__imagen(src="assets/img/desktop/camara 2.jpg", alt="camara de fotos vista superior")