//- picture.sectionInferior__producto03
//-     img.producto03__imagen(src="assets/img/desktop/camara 3.jpg", alt="objetivo")
//- p.sectionInferior__parrafo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum possimus eaque, minus natus perferendis officiis quos nam hic. Minus nostrum, doloremque facere saepe explicabo sed iure dicta, optio, quis iste rem expedita eius deserunt cum odio iusto ducimus delectus. Et expedita perspiciatis voluptates minima doloribus dolorem vitae accusantium rem maxime sit, explicabo architecto magnam quod qui possimus est dignissimos nisi facilis quos provident ipsam deserunt. Quis illo porro rem tenetur, culpa recusandae quibusdam blanditiis excepturi, mollitia officia cupiditate fuga temporibus tempora labore sapiente laboriosam soluta sint. Veritatis voluptatem, adipisci porro, repudiandae at labore magni nemo molestiae iusto quod animi facere.

