//- h2.sectionSuperior__titulo Nueva Cámara, con Nueva Lente
//- p.sectionSuperior__parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsam, in doloremque mollitia perspiciatis cum obcaecati magnam aliquid soluta iure? Nemo harum rem quasi id odio ipsa veritatis nostrum? Cumque dolores cupiditate esse, laudantium et deleniti reprehenderit deserunt odit suscipit! Quibusdam, exercitationem! Sapiente dolore libero distinctio nobis commodi dolorem? Placeat?
//- a.sectionSuperior__boton(href="#") Leer más
//- picture.sectionSuperior__producto01
//-     img.producto01__imagen(src="assets/img/desktop/camara 1.jpg" , alt="camara de fotos")
